[submodule "command/submodules/easyloggingpp"]
	path = command/submodules/easyloggingpp
	url = https://github.com/amrayn/easyloggingpp.git
[submodule "command/submodules/googletest"]
	path = command/submodules/googletest
	url = https://github.com/google/googletest.git
